---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';
import Announcement from '~/components/widgets/Announcement.astro';

import { headerData, footerData } from '~/navigation';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
  lang?: string;
  headerOverride?: typeof headerData;
  footerOverride?: typeof footerData;
}

const { metadata, lang, headerOverride, footerOverride } = Astro.props;
---

<Layout metadata={metadata} lang={lang}>
  <slot name="announcement" />
  <slot name="header">
    <Header {...headerOverride || headerData} isSticky showToggleTheme showLanguageSwitch />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <Footer {...footerOverride || footerData} />
  </slot>
</Layout>
